<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>

{% if error is defined %}

    <p>{{ error }}</p>

{% else %}

    <table>
        <tr> <th>Title</th> <th>Desc</th> <th>Created</th> </tr>
        {% for item in items %}
            <tr>
                <td> <a href="{{ item['address'] }}">{{ item['title'] }}</a> </td>
                <td style="max-width: 400px"> {{ item['description'] }} </td>
                <td> {{ item['date'].diffForHumans() }} </td>
            </tr>
        {% endfor %}
    </table>

{% endif %}

</body>
</html>